node_modules/
.next/
.env.local
.env
.env.*
!.env.example
BACKUP_ANTES_CONTROL_MUESTRA_V25/
*.log

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.open-next/
.wrangler/
.dev.vars
